:root {
    --white: #fff;
    --dark-blue: #13293d;
    --orange: #dd9460;
  }
  
  /* --------------------- general --------------------- */
  
  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 250%;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 130%;
  }

  h3 {
    font-size: 110%;
  }

  h4 {
    font-size: 100%;
    font-weight: 200;
  }
  h5 {
    color: #adadad;
    font-weight: lighter;
    font-size: 100%;
  }

  li {
    margin-left: 30px;
    margin-left: 50px;
    list-style: "👉 ";
  }
  
  header {
    padding: 10px 10px 10px 0px;
    background-size: 100%;
    color: var(--dark-blue);
    /* border-right: 7px solid #13293d;   */
  }

  /* --------------------- main top header --------------------- */
  .top-header {
    text-align: center;
    color: var(--white);

    background-image: url("Assets/Images/chill-background.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  /* --------------------- nav bar --------------------- */
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
  }

  nav a {
    color: var(--white);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    background-color: var(--white);
    color: var(--dark-blue);
    font-weight: bolder;
  }
  
  /* --------------------- sections --------------------- */
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  .my-portfolio {
    flex: 1;
    background-color: var(--white);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  header:not(.top-header) {
    font-size: 140%;
    font-weight: 600;    
    text-align: left;
    margin-right: 20px;
  }

  section {
    border-left: 7px solid #13293d;
    padding-left: 20px;
    margin: 40px;

    flex: 0 0 95%;
  }

  /* --------------------- ABOUT ME --------------------- */
  .about-me-sub {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-me-sub img {
    margin-right: 20px;
    border-radius: 5%;
  }


  .about-me-sub img {
    margin-right: 20px;
    border-radius: 5%;
  }

  /* --------------------- MY WORK --------------------- */
  .my-work-child img {
    margin: 10px 10px 10px 0px;
    border-radius: 5%;
  }

  /* Below was adapted from https://www.w3schools.com/howto/howto_css_image_overlay.asp */
  .MWS-container {
    position: relative;
    /* width: 50%; */
  }

  .MWS-container p {
    line-height: 1.25;
  }
  
  .MWS-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    padding: 0 1% 1% 0;
  }
  
  .MWS-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .MWS-container:hover .MWS-image {
    opacity: 0.3;
  }
  
  .MWS-container:hover .MWS-middle {
    opacity: 1;
  }
  
  .MWS-text {
    background-color: var(--orange);
    border-radius: 5%;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  /* Above was adapted from https://www.w3schools.com/howto/howto_css_image_overlay.asp */

  #MWS-image-1 {
    width: 100%;
    max-width: 800px;
    min-width: 700px;
  }

  #MWS-image-2 {
    width: 50%;
    max-width: 500px;
    min-width: 450px;
    display: block;
  }

  #MWS-image-3, #MWS-image-4 {
    width: 48%;
    max-width: 500px;
    min-width: 350px;
    /* display: inline-block; */
  }
  
  #MWS-image-5, #MWS-image-6, #MWS-image-7 {
    width: 32%;
    max-width: 300px;
    min-width: 200px;
    /* display: inline-block; */
  }
  
  .my-work-container {
    display: flex;
    align-items: top;
    justify-content: left;
    flex-direction: column;
  }

  .MWS-images-3-4 {
    background-color: #13293d;
    flex-wrap: wrap;
  }

  .MWS-images-5-7 {
    background-color: #dd9460;
    flex-direction: row;
  }
  
  .temp-container, .temp-container2, .temp-container3, .temp-container4 {
    display: flex;
  }

  .temp-container {
    flex-direction: row;
  }
  
  /* .temp-container3 {
    display: flex;
  }
  .temp-container4{
    display: flex;
  } */
  /* --------------------- MY RESUME --------------------- */

  .my-resume-container {
    display: flex;
    align-items: top;
    justify-content: left;
  }

  .my-resume-container article {
    margin-right: 40px;
  }

  .MRS-logo:hover {
    opacity: 0.7;
  }

  .pdf-btn {
    padding-bottom: 30px;
    vertical-align: middle;
    color: #13293d;
  }

  /* --------------------- CONTACT ME --------------------- */
  #email-me {
    color: #dd9460;
    text-decoration: none;
  }
  
  form header {
    margin-bottom: -10px;
  }
  
  form p {
    margin: 10px 0;
  }
  
  label {
    display: block;
  }
  
  button {
    padding: 1% 2%;
    margin-top: 10px;
    color: #fff;
    background-color: #13293d;
    border: none;
    outline: none;
  }

  button:hover {
    opacity: 0.8;
  }
  
  .text-input {
    width: 100%;
    max-width: 100%;
  }
  
  .text-input, select {
    padding: 1%;
    outline: none;
    border: 1.2px solid #b9C6ae;
  }
  
  .text-input:hover, button:hover {
    box-shadow: 0 0 5px #999;
  }
  
  .text-input:focus {
    border-right-width: 5px;
  }
  
  .text-input:placeholder-shown {
    border-style: dashed;
  }

  /* --------------------- footer --------------------- */
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: var(--dark-blue);
    color: var(--white);
    margin-top: auto;
  }

  /* --------------------- responsive layout --------------------- */
  
  @media screen and (max-width: 832px) {
    main,
    nav {
      flex-direction: column;
    }

    .about-me-sub, .my-resume-container, .temp-container {
      flex-direction: column;
    }

    .about-me-sub p {
      margin-top: 10px;
      text-align: justify;
    }

    #MWS-image-3, #MWS-image-4 {
      width: 49%;
      max-width: 500px;
      min-width: 350px;
      display: inline-block;
    }
    
    #MWS-image-5, #MWS-image-6, #MWS-image-7 {
      width: 32%;
      max-width: 300px;
      min-width: 200px;
      display: inline-block;
    }

  }
  