:root {
    --white: #fff;
    --dark-blue: #13293d;
    --orange: #dd9460;
  }
  
  /* --------------------- general --------------------- */
  
  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 250%;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 130%;
  }

  h3 {
    font-size: 110%;
  }

  h4 {
    font-size: 100%;
    font-weight: 200;
  }
  h5 {
    color: #adadad;
    font-weight: lighter;
    font-size: 100%;
  }

  li {
    margin-left: 30px;
    margin-left: 50px;
    list-style: "👉 ";
  }
  
  header {
    padding: 10px 10px 10px 0px;
    background-size: 100%;
    color: var(--dark-blue);
    /* border-right: 7px solid #13293d;   */
  }

  /* --------------------- main top header --------------------- */
  .top-header {
    text-align: center;
    color: var(--white);

    background-image: url(./Images/chill-background.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  /* --------------------- nav bar --------------------- */
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
  }

  nav a {
    color: var(--white);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    background-color: var(--white);
    color: var(--dark-blue);
    font-weight: bolder;
  }
  
  /* --------------------- sections --------------------- */
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  .my-portfolio {
    flex: 1;
    background-color: var(--white);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  header:not(.top-header) {
    font-size: 140%;
    font-weight: 600;    
    text-align: left;
    margin-right: 20px;
  }

  section {
    border-left: 7px solid #13293d;
    padding-left: 20px;
    margin: 40px;

    flex: 0 0 95%;
  }

  /* --------------------- ABOUT ME --------------------- */
  .about-me-sub {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-me-sub img {
    margin-right: 20px;
    border-radius: 5%;
  }


  .about-me-sub img {
    margin-right: 20px;
    border-radius: 5%;
  }

  /* --------------------- MY WORK --------------------- */
  .my-work-sub img {
    margin: 10px 10px 10px 0px;
    border-radius: 5%;
  }

  /* --------------------- MY RESUME --------------------- */

  .my-resume-container {
    display: flex;
    align-items: top;
    justify-content: left;
  }

  .my-resume-container article {
    margin-right: 40px;
  }

  /* --------------------- CONTACT ME --------------------- */
  form header {
    margin-bottom: -10px;
  }
  
  form p {
    margin: 10px 0;
  }
  
  label {
    display: block;
  }
  
  button {
    padding: 1% 2%;
    margin-top: 10px;
    color: #fff;
    background-color: #13293d;
    border: none;
    outline: none;
  }
  
  .text-input {
    width: 100%;
    max-width: 100%;
  }
  
  .text-input, select {
    padding: 1%;
    outline: none;
    border: 1.2px solid #b9C6ae;
  }
  
  .text-input:hover, button:hover {
    box-shadow: 0 0 5px #999;
  }
  
  .text-input:focus {
    border-right-width: 5px;
  }
  
  .text-input:placeholder-shown {
    border-style: dashed;
  }


  /* --------------------- footer --------------------- */
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: var(--dark-blue);
    color: var(--white);
    margin-top: auto;
  }

  /* --------------------- responsive layout --------------------- */
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }

    .about-me-sub, .my-resume-container {
      flex-direction: column;
    }

    .about-me-sub p {
      margin-top: 10px;
      text-align: justify;
    }

  }
  